/* PayPal Connect
-------------------------------------------------------------- */
.cs-paypal-account-status ul {
	margin-left: 25px;
}
.cs-paypal-account-status > li {
	margin-bottom: 1em;
}
.cs-paypal-account-status ul:not(.cs-paypal-webhook-events) {
	list-style: disc;
	list-style-position: inside;
}
.cs-paypal-account-status ul:not(.cs-paypal-webhook-events) li {
	margin: .25em 0;
}
.cs-paypal-account-status .dashicons-yes {
	color: #008a20;
}
.cs-paypal-account-status .dashicons-no {
	color: #d63638;
}
