<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="cstore-core">
			<directory prefix="tests-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
	<whitelist processUncoveredFilesFromWhitelist="false">
	<include>
		<directory suffix=".php">./includes</directory>
		<file>commercestore.php</file>
		<file>uninstall.php</file>
    </include>
	<exclude>
		<file>./includes/admin/payments/view-order-details.php</file>
		<file>./includes/admin/discounts/edit-discount.php</file>
		<file>./includes/admin/discounts/add-discount.php</file>
		<file>./includes/admin/reporting/class-export-customers.php</file>
		<file>./includes/admin/reporting/class-export-download-history.php</file>
		<file>./includes/admin/reporting/class-export-payments.php</file>
		<file>./includes/admin/tools/class-cs-tools-recount-all-stats.php</file>
		<file>./includes/admin/tools/class-cs-tools-recount-customer-stats.php</file>
		<file>./includes/admin/tools/class-cs-tools-recount-download-stats.php</file>
		<file>./includes/admin/tools/class-cs-tools-recount-single-customer-stats.php</file>
		<file>./includes/admin/tools/class-cs-tools-recount-store-earnings.php</file>
		<file>./includes/admin/tools/class-cs-tools-reset-stats.php</file>
		<file>./includes/admin/import/class-batch-import-downloads.php</file>
		<file>./includes/admin/import/class-batch-import-payments.php</file>
		<file>./includes/class-cs-cli.php</file>
		<directory suffix=".php">./includes/admin/reporting/export</directory>
		<directory>./includes/libraries/</directory>
	</exclude>
	</whitelist>
	</filter>

	<groups>
		<exclude>
			<group>cs_ajax</group>
		</exclude>
	</groups>
	<listeners>
		<listener class="SpeedTrapListener" file="tests/phpunit/speed-trap-listener.php">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>150</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
</phpunit>
