/* Notifications
-------------------------------------------------------------- */
.cs-overlay {
	position: fixed;
	z-index: 1052;
	top: 0;
	right: 0;
	bottom: 0;
	left: 160px;
	background-color: #141b38;
	opacity: .5;
	transition: .5s;
}

.cs-slide-in {
	transform: translateX(100%) !important;
	-webkit-transform: translateX(100%) !important;
}

#cs-notifications-panel {
	background-color: white;
	height: 100%;
	width: 100%;
	max-width: 570px;
	position: fixed;
	z-index: 1053;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	transition: .5s;

	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}
body.admin-bar #cs-notifications-panel {
	top: 32px;
}
@media screen and (max-width: 600px) {
	body.admin-bar #cs-notifications-panel {
		top: 46px;
	}
}

#cs-notifications-header {
	display: flex;
	align-items: center;
	padding: 0 30px;
	color: #fff;
	background-color: #0c5d95;
}
#cs-notifications-header h3 {
	color: #fff;
	flex: 1;
}
#cs-notifications-header .cs-close {
	background: none;
	border: none;
	color: #fff;
	cursor: pointer;
}

#cs-notifications-body {
	padding: 30px;
}

.cs-notification {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}
.cs-notification--icon {
	color: #00aa63;
}
.cs-notification--icon.cs-notification--icon-info {
	color: #005ae0;
}
.cs-notification--icon.cs-notification--icon-warning {
	color: #f18200;
}
.cs-notification--icon.cs-notification--icon-error {
	color: #df2a4a;
}
.cs-notification--body {
	flex: 1;
}
.cs-notification--header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	gap: 5px;
	margin-bottom: 7px;
}
.cs-notification--title {
	color: #141b38;
	flex: 1;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}
.cs-notification--date {
	color: #71747e;
	font-size: 12px;
}
.cs-notification--actions {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	gap: 5px;
	margin-top: 10px;
}
.cs-notification--dismiss {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	color: #71747e !important;
	cursor: pointer;
	padding: 0 10px;
	text-decoration: underline;
}
.cs-notification--dismiss:hover {
	text-decoration: none;
}
