.cs-recurring-single,
.cs_recurring_custom_wrap {
	margin-top: 18px;
}

.cs_recurring_custom_wrap legend {
	font-weight: 600;
}

.cs_recurring_custom_wrap p {
	flex-basis: 100%;
}

/* These can be removed when CommerceStore 3.0 is standard. */
.cs-form-row {
	display: flex;
	gap: 0 !important;
	padding-right: 0;
}

.cs-form-row .cs-form-group {
	margin-bottom: 12px;
}

.cs-form-row .cs-form-group:not(:last-child) {
	margin-right: 12px;
}

.cs-form-group__control--is-inline {
	display: inline-flex;
	align-items: flex-end;
}

.cs-form-row {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.cs-form-row__column {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
}

.cs-form-row .cs-form-group__label {
	margin-bottom: 0;
}

.cs-form-group__input.cs-price-field {
	padding: 0 8px !important;
}
